include LICENSE
include config.yaml.sample
include requirements.txt
include test-requirements.txt
recursive-include contrib
recursive-include openheat/controller *.py
recursive-include openheat/sensor *.py
