log_level = 'INFO'

openweather_settings = {
    'api_key': 'FIXME',
    'location': 'City,XX'
}
openweather_basic_api_url = 'https://api.openweathermap.org/data/2.5/weather'
openweather_onecall_api_url = 'https://api.openweathermap.org/data/2.5/onecall'

weather_hourly_forecast_hrs = 5
weather_weight_current = 1
weather_weight_hourly_forecast = weather_hourly_forecast_hrs
weather_max_avg_temp = 13.0
weather_min_avg_temp = -5.0
weather_clouds_few = 20
weather_wind_light = 1.4
weather_wind_max = 16.4
weather_negative_temp_index_factor = 3
weather_humidity_base = 60
